/*------------------------------------------------------
General Divisions
*/
.topMenu{
    text-align: center;
    width: 97%;
    padding: 1.5%;
    border: 0px;
    background-color: white;
    border-radius: 10px;
}


.mainSpacer{
    width: 100%;
    height: 5%;
}


.mainContentContainer{
    width: 90%;
    padding: 2%;
    border: 0px;
    background-color: white;
    border-radius: 10px;

    margin: auto;

    text-align: justify;
}

.sideContentContainer{
    vertical-align: top;
    width: 25%;
    display: inline-block;
    padding: 0.5%;

    text-align: justify!important;
}

.sideContent{
    width: 87%;
    background-color: #fadcfa;
    padding-left: 3%;
    padding-top: 0.5%;
    margin-top: 8.5%;
    border-radius: 5px;
}

.mainContent{
    vertical-align: top;
    width: 72%;
    display: inline-block;
    padding: 0.5%;
    
    text-align: justify!important;
}

.projectsHalfContent{
    width: 47%;
    padding: 1%;
    display: inline-block;
    vertical-align: top;
}

.contactSuccess{
    width: 80%;
    background-color: #4aca4a;
    padding: 1%;
    color: #1a791a;
}

.contactFailed{
    width: 80%;
    background-color: #ca1a1a;
    padding: 1%;
    color: #791a1a;
}


/*------------------------------------------------------
General Components
*/
body{
    background: url("Img/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
    align-content: center;
}

h1, h2, h3{
    color: #2a2aae;
}

a{
    text-decoration: none;
    transition-duration: 0.4s;
}

a:link{
    color: #0a0a9e;
}

a:visited{
    color: #4a4aff;
}

a:hover, a:active{
    color: #edaa3a;
    text-decoration: underline;
}



.profilePicture{
    width: 90%;
    border-radius: 5px;
}

.upDate{
    padding-top: 1.5%;

    font-size: 10px;
    font-style: italic;
}

.subHead{
    font-size: 20px;
    color: #0a0a9e;
}

.subHead2{
    font-size: 16px;
    font-style: italic;
    color: #0a0a9e;
}

.sideTitle{
    font-size: 18px;
    font-weight: bold;
    color: #2a2aae;
}

.sideQuote{
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;

    text-align: center!important;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #2a2aae;
}

.projectsProgress{
    color: #2a2aae;
    font-style: oblique;
}



.menuButton{
    width: 30%;
    padding: 1%;
    border: 1px solid #4a4aff;
    border-radius: 5px;
    margin: 0.5%;
    background-color: #fafafa;
    transition-duration: 0.4s;

    font-weight: bold;
    font-kerning: none;
}

.menuButton:hover{
    border: 1px solid #4a4aff;
    background-color: #4a4aff;
    color: #fafafa;
}

.menuButton.active{
    width: 30%;
    padding: 1%;
    border: 1px solid #edaa3a;
    border-radius: 5px;
    margin: 0.5%;
    background-color: #fafafa;
    transition-duration: 0.4s;

    font-weight: bold;
    font-kerning: none;
}

.menuButton.active:hover{
    border: 1px solid #edaa3a;
    background-color: #edaa3a;
    color: #fafafa;
}


.contactFormElements{
    width: 80%!important;
    resize: none!important;
}

.contactFormButton{
    width: 25%;
    padding: 1%;
    border: 1px solid #4a4aff;
    border-radius: 5px;
    margin: 0.5%;
    background-color: #fafafa;
    transition-duration: 0.4s;
}

.contactFormButton:hover{
    border: 1px solid #4a4aff;
    background-color: #4a4aff;
    color: #fafafa;
}

.contactFormButton:active{
    border: 1px solid #edaa3a;
    background-color: #edaa3a;
    color: #fafafa;
}
